.navbar ul{
    list-style: none;
    justify-content: center;
    flex-direction: row;
    display: flex;
    margin-left: 50px;
    
    
    
}
.navbar a:hover{
    color:red;

}
.navbar a{
color:whitesmoke;
text-decoration: none;
}
.navbar{
    text-align: center;
    
    padding: 10px;
}
.navbar{
    background-color: rgb(24, 48, 121);
}
    
    
.bco1{
    background-image: url(images/kk.jpg);
    width: 100%;
    height: 90%;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    
}

.na{
    background-color: rgb(24, 48, 121);
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

.bco{
    text-align: center;
    background-color: white;
    margin-top: 500px;
    height: 150px;
    width: 600px;
margin-left: 30%;
border-radius: 10px;
box-shadow: 5px 5px 5px rgb(24, 48, 121);
}
.bco p{
    padding: 5px;
}


.navbar li{
    margin-left: 100px;
    color: blue;
    font-size: larger;
    
}