.navbar ul{
    list-style: none;
    justify-content: center;
    flex-direction: row;
    display: flex;
    
    
}
.navbar{
    text-align: center;
    
    padding: 10px;
}
.fka{
    background-color: black;
    
}
.navbar li{
    margin-left: 100px;
    
}