.navbar ul{
    list-style: none;
    justify-content: center;
    flex-direction: row;
    display: flex;
    
    
}
.navbar a:hover{
    color: blue;

}
.navbar a{
color: white;
}
.navbar{
    text-align: center;
    
    padding: 10px;
}
.fka{
    background-color: black;
    
    
}
.bco{
    background-image: url(images);
}
.navbar li{
    margin-left: 100px;
    color: blue;
    
}